<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.book.mapper.BkassMapper">


    <!--添加分配教材-->
    <insert id="addBkass">
        insert into bkass(id,bkId,uId,status,bkName,bkAuthor) values(null ,#{bkId},#{uId},#{status},#{bkName},#{bkAuthor})
    </insert>



    <!--联表查询所有已分配教材-->
    <select id="getAllBkass" resultType="java.util.Map">
        select *from bkass b
        left join user u on b.uId=u.uId
    </select>

    <!--联表根据uId查询所有已分配教材-->
    <select id="getBkassByuId" resultType="java.util.Map">
        select *from bkass b
        left join user u on b.uId=u.uId
        where  b.uId=#{uId}
    </select>




    <!--联表查询-->
    <!--判断条件是否为空-->
    <!--两表列名相同，where条件需指定具体列-->
    <select id="getBkass" resultType="java.util.Map">
        select *from bkass b
        left join user u on b.uId=u.uId where 1=1
        <if test="uId !=null and uId !=''">
            and b.uId=#{uId}
        </if>
    </select>



    <!--更新教材确认状态-->
    <update id="updateBkassStatus">
        UPDATE book.bkass
         SET status=1
         WHERE id = #{id}
    </update>
</mapper>