<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.book.mapper.ClassMapper">
    <!--联表查询-->
    <select id="getClassById" resultType="java.util.Map">
        select *from cls s
        left join college g on  s.collegeId=g.clgId
        where clsId =#{clsId}
    </select>

    <!--联表查询-->
    <!--判断条件是否为空-->
    <select id="getClass" resultType="java.util.Map">
        select *from cls s
        left join college g on  s.collegeId=g.clgId where 1=1
        <if test="clsId !=null and clsId !=''">
            and clsId= #{clsId}
        </if>
        <if test="clsName !=null and clsName !=''">
            and  clsName=#{clsName}
        </if>
        <if test="clsNum !=null and clsNum !=''">
            and  clsNum=#{clsNum}
        </if>
    </select>

    <!--联表查询-->
    <select id="getAllClass" resultType="java.util.Map">
        select *from cls s
        left join college g on s.collegeId=g.clgId
    </select>

    <insert id="addClass">
        insert into cls(clsId,clsNum,clsName,collegeId) values(null ,#{clsNum},#{clsName},#{collegeId})
    </insert>


    <update id="updateClass">
        UPDATE book.cls
         SET clsNum = #{clsNum}, clsName = #{clsName}, collegeId = #{collegeId}
         WHERE clsId = #{clsId};
    </update>

    <delete id="deleteClassById">
        delete from cls where clsId=#{clsId}
    </delete>
</mapper>