<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.book.mapper.CollegeMapper">
    <select id="getAllCollege" resultType="cn.edu.book.model.College">
            select *from college;
        </select>

    <!--    <select id="getCollegeById" resultType="cn.edu.book.model.College">-->
    <!--        select *from college where clgId =#{clgId}-->
    <!--    </select>-->


    <!--    <select id="getAllCollege" resultType="cn.edu.book.model.College">-->
    <!--        select *from college-->
    <!--    </select>-->

    <!--    <insert id="addCollege">-->
    <!--        insert into college(clgId,clgNum,clgName) values(null ,#{clgNum},#{clgName})-->
    <!--    </insert>-->


    <!--    <update id="updateCollege">-->
    <!--        UPDATE `book`.`college`-->
    <!--         SET `clgId` =#{clgId}, `clgNum` = #{clgNum}, `clgName` = #{clgName}-->
    <!--         WHERE `clgId` = #{clgId};-->
    <!--    </update>-->

    <!--    <delete id="deleteCollegeById">-->
    <!--        delete from college where clgId=#{clgId}-->
    <!--    </delete>-->
</mapper>